*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/sonarlint
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/misc.xml
/.idea/compiler.xml
/.idea/deploymentTargetDropDown.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
buildSrc/build/classes/
buildSrc/build/kotlin/compileKotlin/
buildSrc/build/kotlin/
buildSrc/build/libs/

